#pyramid {
    line-height: 0;
    font-size: 30px;
}

body {
    font-family: "Courier New", monospace;
    text-align: center;
}

#container {
    background-color: #EEEEEE;
    margin: auto;
    width: 75%;
    border: medium solid #07C5C4;
    border-radius: 5px;
}

.control-bar {
    align-content: center;
    margin: auto;
    padding: 40px;
    background-color: #CCCCCC;
    font-weight: bold;
}

#banner {
    background-color: #07C5C4;
    margin: auto;
    font-size: 40px;
    font-weight: bold;
    color: #CCCCCC;
    width: 90%;
    padding: 40px;
}

#m-background {
    margin: auto;
    background-color: #FAFAFA;
    width: 65%;
    height: 100%;
}

#range-text {
    font-size: 18px;
    font-weight: bold;
}